div{
    border: solid black 3px; 
    border-radius: 10px;
    color: black;    
    width: 27rem;
    text-align: center;
    margin: auto;
}
header{
    text-align: center;
}
h1{
    margin-top: 0;
}
img{
    width: 5rem;
    margin-left: 10px;
    margin-right:0;

}
form{
    margin-bottom: 10px;
    text-align: center;
}
label{
    font-size: x-large;
}
.rosso{
    border: 2px red solid;
    color: red;
}
#err{
    display: none;
    color: red;
}
#invia{
    height: 25%;
    width: 25%;
    border-radius: 0.3125rem;
    font-size: large;
    background-color: rgba(194, 226, 249, 0.65);
    color: #0067B1;
    text-align: center;
    align-items: center;
    font-family: Granstander Clean;
    border: #0067B1 1px solid;
    border-radius: 0.3125rem;
}

#invia:hover{
    background-color: #0067b1b7;
    color:rgba(194, 226, 249, 0.85) ;
}
#spazio{
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
html{
    height: 100%;
    font-family: Granstander Clean;

}
body{
    background: linear-gradient(135deg, #002aff 0%, #00ffbf 50%, #ffffff 100%); 
    background-size: 400% 400%;
    width: 100%;
    height: 100%;
    animation: TEST 59s ease infinite;
    background-repeat: no-repeat;
}
@keyframes TEST {          
  0% { background-position: 0% 50%; }   
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

label, h2,h1{
    animation: color-change 55s ease infinite;
}
@keyframes color-change {
    0% { color: #ffffff; }
    100% { color: #000000; }
  }

  input[type=text], input[type=password]{
    width: 7.625rem;
    height: 1.4375rem;
    flex-shrink: 0;
    background-color: rgba(194, 226, 249, 0.65);
    font-family: Granstander Clean;
    text-align: center;
    align-items: center;
    border: #0067B1 1px solid;
    border-radius: 0.3125rem;
}