div{
    border: solid black 3px;
    border-radius: 10px;
    color: black;
    width: 27rem;
    text-align: center;
}
form{
    margin-bottom: 10px;
    text-align: center;
}
label{
    font-size: x-large;
}
.rosso{
    border: 2px red solid;
    color: red;
}
#err{
    display: none;
    color: red;
}
#invia{
    height: 25%;
    width: 25%;
    border-radius: 0.3125rem;
    font-size: large;
}
#spazio{
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
body{
    background: linear-gradient(90deg, rgba(4,161,201,1) 0%, rgba(255,255,255,1));
}
label, h2{
    color: rgb(0, 110, 255);
}
