h1{
  display: inline;
  text-align: center;
}
header{
  text-align: center;
  font-family: Granstander Clean;
  font-size: 2rem;
  text-shadow: rgb(255, 255, 255) 0px 2px;
}

img{
  margin: 0 auto;
  padding: 0;
}
#logo{
  margin-top: 0.5rem;
  margin-right: 1rem;
  padding: 0;
}
#pulsanti{
  display: inline;
  margin-left: 5rem;
  padding: 0;
  text-align: center;
}