.grid-container {
    display:grid;
    grid-template-columns: auto auto;
}
/*  
GRIGLA PER IL NEGOZIO E I PRODOTTI
 
.grid-container2{
    display:grid; 
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: slateblue;
}
.grid-container2 > div {
    background-color: rgba(165, 240, 240, 0.736);
}
*/
.prod{
    width: 11rem;
    translate:(50%, -50%);
}

html {
    background-color: rgba(165, 240, 240, 0.736);
}

/*div{
    border: 1px solid black
}*/
table{
    border: 1px solid black
}
#tabella{
    width: 90%;
    border: 1px solid rgb(255, 0, 0);
}

tr,
td{
    border: 1px solid black
}

.div-cont{
    background-color: rgba(102, 255, 0, 0.736);
    width: 100%;
    border: 1px solid rgb(255, 0,0);
    padding: 00px;
    text-align: center;
}

.div-cont2{
    background-color: rgba(255, 247, 0, 0.736);
    width: 100%;
    border: 1px solid rgb(255, 0,0);
    padding: 00px;
    text-align: center;
}

.container{
    width: 100%;
    border : 1px solid rgb(0, 0, 255);
}

.fianco{
    width: 0.5rem;
    display: inline;
}