
.grid-container {
    display:grid;
    grid-template-columns: auto auto;
}
body{
    margin: 0.5;
    margin-top: 0;
    padding: 0;
    background-color: #76c893a6; 
    background-size: 400% 400%;
    
    width: 100%;
    height: 100%;
}

.prod{
    width: 9rem;
    translate:(50%, -50%);
}

html {
    background-color: rgba(168, 236, 230, 0.266);
    font-family: Granstander Clean;
}

/*div{
    border: 1px solid black
}*/

#tabella{
    width: 90%;
}
table{
    border-radius: 0.625rem;

    
}
tr{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border-radius: 0.3125rem;

}
td,th{
    margin: 0px;
    padding: 0px;
    background-color: rgba(82, 182, 154, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.3125rem;
}

.div-cont{
    background-color: #52b69ab0;
    width: 100%;
    padding: 0px;
    text-align: center;
}

.div-cont2{
    background-color: #76c893a6;
    
    width: 100%;
    padding: 0px;
    text-align: center;
}

.container{
    width: 100%;
}

.fianco{
    width: 0.5rem;
    display: inline;
}
.add{
    background-color: rgba(194, 226, 249, 0.65);
    color: #0067B1;
    font-size: small;
    text-align: center;
    align-items: center;
    font-family: Granstander Clean;
    border: #0067B1 1px solid;
    border-radius: 0.3125rem;
}

.add:hover{
    background-color: #0067b1b7;
    color:rgba(194, 226, 249, 0.85) ;
}

.add:active{
    background-color: rgba(194, 226, 249, 0.85);
}

input[type=number]{
    width: 3.5rem;
    height: 1.400rem;
    flex-shrink: 0;
    background-color: rgba(194, 226, 249, 0.65);
    font-family: Granstander Clean;
    text-align: center;
    align-items: center;
    border: #0067B1 1px solid;
    border-radius: 0.3125rem;
}


.prod:hover{
    transform: scaleX(-1);
}
